@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Baloo+Bhaijaan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.tituloDetalle{
    color: #f8e21d;
    background-color: #005899;
    font-family: 'Amaranth', sans-serif;
    text-align: center;
}

.containerDetail{
    width: 100%;
    display: flex;
    justify-content: center ;
}

.divImage{
    display: flex;
    justify-content: center;
}

.detailImage{
    width: 50vh;
    height: 50vh;
}
.contentDetail{
    margin: 10px;
}

.contentDetail h3{
    color: #005899;
    font-family: 'Amaranth', sans-serif;
    text-align: center;
}
.contentDetail p{
    color: #005899;
    font-family: 'Amaranth', sans-serif;
    font-size: 25px;
    text-align: left;
}

.titleDetail{
    text-align: center;
    color: #005899;
    font-family: 'Amaranth', sans-serif;
    text-align: center;
    font-size: 60px;
}

@media screen and (min-width:1200px){    

}
@media screen and (max-width:992){    

}
@media screen and (max-width: 768px){
    .contentDetail{
        width: 100%;
    }

    .detailImage{
        width: 50vh;
        height: 50vh;
    }

    .contentDetail p{
        margin: 10px;
        font-size: 22px;
    }

}
@media screen and (max-width: 576px) {
    .contentDetail{
        width: 100%;
    }

    .detailImage{
        width: 50vh;
        height: 50vh;
    }

    .contentDetail p{
        margin: 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 425px){
    .contentDetail{
        width: 100%;
    }

    .detailImage{
        width: 100%;
    }

    .contentDetail p{
        margin: 10px;
        font-size: 20px;
    }

}
@media screen and (max-width: 390px){
    .contentDetail{
        width: 100%;
    }

    .detailImage{
        width: 100%;
    }

    .contentDetail p{
        margin: 10px;
        font-size: 16px;
    }

}
@media screen and (max-width: 320px){
    .contentDetail{
        width: 100%;
    }

    .detailImage{
        width: 100%;
    }

    .contentDetail p{
        margin: 10px;
        font-size: 16px;
    }
}