@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Baloo+Bhaijaan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.tituloServicios{
    color: #f8e21d;
    background-color: #005899;
    font-family: 'Amaranth', sans-serif;
    text-align: center;
}

.alser {
    height: 100%;
    margin: -8px;
    padding-right: 0px;
    background-position: center;
    background-size: cover;
    -webkit-animation: rebotar;
    animation: rebotar;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}
@keyframes rebotar {
    0% {
        opacity: 0;
    }

    1% {
        transform: translateY(150px);
        box-shadow: 0px 10px 10px 10px #000;
    }
}
.imgServicios{
    width: 100%;
    height: 86vh;
}

.divServicios{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.imgServicios2{
    height: 80vh;
    width: 100vh;
    -webkit-animation: rebotar;
    animation: rebotar;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    
}

.divServicios3{
    display: flex;
    justify-content: center;
}

.imgServicios3{
    height: 80vh;
    width: 100vh;
    -webkit-animation: rebotar;
    animation: rebotar;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}


.arser{
    color: #005899;
    font-weight: 600;
    padding-top: 5px;
    height: 100%;
}
.tituloServicios2{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
}
.parrafoServicios{
    text-align: left;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
}



@media screen and (max-width:1200px){    
    .alser{
        height: 100%;
        margin: 0;
    }

    .arser{
        height: 100%;
        padding-left: 2vh;
    }

    .imgServicios{
        width: 100%;
        height: 130vh;
        margin-top: -8px;
    }

    .divServicios{
        display: flex;
        padding-left: 0vh;
        padding-right: 0vh;
    }
    .imgServicios2{
        width: 100vh;
    }

    .divServicios3{
        display: flex;
    }

    .imgServicios3{
        width: 100vh;
    }

}
@media screen and (max-width:1024px){    
    .arser{
        height: 100%;
        padding-left: 2vh;
    }
    
    .alser{
        height: 100%;
        padding-left: 2vh;
    }

    .imgServicios{
        width: 100%;
        height: 130vh;
        margin-top: -8px;
    }

    .divServicios{
        display: flex;
        padding-left: 0vh;
        padding-right: 0vh;
    }
    .imgServicios2{
        width: 80vh;
    }

    .divServicios3{
        display: flex;
    }

    .imgServicios3{
        width: 80vh;
    }

}
@media screen and (max-width: 768px){
    
    .arser{
        height: 100%;
        padding-left: 5vh;
    }
    
    .alser{
        height: 100%;
        margin: 0vh;
        padding-left: 0vh;
    }

    .imgServicios{
        width: 100%;
        height: 100vh;
    }

    .divServicios{
        display: block;
        padding-left: 0vh;
        padding-right: 0vh;
    }
    .imgServicios2{
        width: 100%;
        height: 70vh;
    }

    .divServicios3{
        display: block;
    }

    .imgServicios3{
        width: 100%;
        height: 70vh;
    }

}
@media screen and (max-width: 576px) {
    .alser{
        height: 100%;
        width: 100% !important;
        margin: 0vh;
    }

    .arser{
        height: 100%;
    }

    .arser p {
        font-size: 18px;
    }

    .imgServicios{
        height: 80vh;
        width: 100%;
    }

    .divServicios{
        display: block;
        padding-left: 0vh;
        padding-right: 0vh;
    }

    .imgServicios2{
        width: 100%;
        height: 50vh;
    }

    .divServicios3{
        display: block;
    }

    .imgServicios3{
        width: 100%;
        height: 50vh;
    }


}
@media screen and (max-width: 320px){
    .alser{
        height: 100%;
        width: 100% !important;
    }

    .arser{
        height: 100%;
    }

    .arser p {
        font-size: 16px;
    }
    .imgServicios{
        height: 60vh;
        width: 100%;
    }

    .divServicios{
        display: block;
        padding-left: 0vh;
        padding-right: 0vh;
    }
    .imgServicios2{
        width: 100%;
        height: 50vh;
    }

    .divServicios3{
        display: block;
    }

    .imgServicios3{
        width: 100%;
        height: 50vh;
    }

}