@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Baloo+Bhaijaan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.divSponsors{
    display: inline-block;
    margin: 40px;
}
.sectionCards{
    display: flex;
    justify-content: center;
}

.card-body2{
    color: #005899 !important;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    text-align: center;
}

.link{
    text-decoration: none !important; 
}

.btn{
    color: #f8e21d;
    background-color: #005899;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    /* margin: 15px ; */
}
.btn-primary:hover{
    background-color: #005899;
    transition: 0.8s;
}

.sponsors{
    height: 30vh;
    width: 30vh;
}

@media screen and (min-width:1200px){    

}
@media screen and (max-width:992){    

}
@media screen and (max-width: 768px){
    .sectionCards{
        padding-left: 10vh;
    }
}
@media screen and (max-width: 576px) {
    .divSponsors{
        display: inline-block;
        margin: 50px 5px;
    }

    .sponsors{
        height: 30vh;
        width: 30vh;
    }
}

@media screen and (min-width: 320px){
    .divSponsors{
        margin: 30px 40px;
    }

    .sponsors{
        height: 25vh;
        width: 25vh;
    }
}
@media screen and (max-width: 320px){
    .divSponsors{
        margin: 30px 15px;
    }

    .sponsors{
        height: 25vh;
        width: 25vh;
    }
}
