@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Baloo+Bhaijaan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.divSponsors{
    display: inline-block;
    margin: 50px;
}
.sectionCards{
    display: flex;
    justify-content: center;
}

.card-body2{
    color: #005899 !important;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    text-align: center;
}

.link{
    text-decoration: none !important; 
}

.btn{
    color: #f8e21d;
    background-color: #005899;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    /* margin: 15px ; */
}
.btn-primary:hover{
    background-color: #005899;
    transition: 0.8s;
}

.sponsors{
    height: 30vh;
    width: 30vh;
    margin: 10px
}

@media screen and (min-width:1200px){    
    .divSponsors{
        padding-left: 25px;
    }

}
@media screen and (max-width:992){    

}
@media screen and (max-width: 768px){
    .divSponsors{
        padding-left: 25px;
    }

    .sponsors{
        height: 25vh;
        width: 25vh;
    }
}
@media screen and (max-width: 576px) {
    .divSponsors{
        margin: 20px 70px !important;
    }

    .sponsors{
        height: 30vh;
        width: 30vh;
    }
}
@media screen and (min-width: 425px) {
    .divSponsors{
        margin: 25px 45px!important;
    }

    .sponsors{
        height: 20vh;
        width: 20vh;
    }
}
@media screen and (min-width: 375px) {
    .divSponsors{
        margin: 25px 35px!important;
    }

    .sponsors{
        height: 20vh;
        width: 20vh;
    }
}



@media screen and (max-width: 320px){
    .divSponsors{
        margin: 20px !important;
    }

    .sponsors{
        height: 20vh;
        width: 20vh;
    }
}
