@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Baloo+Bhaijaan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

footer {
    background-color: #fff;
    background-image: linear-gradient(155deg, #fff 0%, #0066ff 50%, #0066ff 100%);
    width: 100%;
    text-align: center;
    color: #f8e21d;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    padding: 25px;
}

.logoTalentitos{
        height: 25vh;
        border-radius: 50%;
        cursor: pointer;
    }


.logoTalentitos:hover {
    transform: scale(1.1);
    transition: all 0.8s;
}

.grupo-1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0px;
}

.grupo-1 .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-1 .box h3 {
    letter-spacing: 2px;
}

.grupo-1 .box p {
    margin-bottom: 5px;
    padding-top: 0px;
}

.grupo-1 .redes {
    font-size: 35px;
    padding-left: 25px;
    padding-right: 17px;
    display: inline-block ;
}

.grupo-1 .redes{
    color: #f8e21d;
    cursor: pointer;
}

.grupo-1 .redes a:hover {
    text-decoration: none;
    color: #fff;
    transition: all 0.8s;
}

.grupo-1 .grupo-2 {
    padding: 15px 10px;
    text-align: center;
}

@media screen and (max-width: 768px){
    footer {
        padding: 10px;
    }

    .box{
        font-size: 18px;
        padding: 10px 10px;
        margin-top: 5px;
    }

    .grupo-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
    }
    
    .grupo-1 .box h3 {
        font-size: 21px;
    }

    .grupo-1 .redes {
        font-size: 28px;
        padding-left: 25px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 576px) {
    

}
@media screen and (max-width: 320px){
    footer {
        padding: 10px;
    }

    .box{
        font-size: 18px;
        padding: 10px 10px;
        margin-top: 5px;
    }

    .grupo-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    
    .grupo-1 .box h3 {
        font-size: 21px;
    }

    .grupo-1 .redes {
        font-size: 28px;
        padding-left: 15px;
        padding-right: 10px;
    }
}